.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;
    width: 70%;

    .btn {
      margin-top: .5rem;
    }
  }
}

.slide-item {
  img {
    height: 500px;
  }
}